/* #square {
  display: flex;
  align-items: center;
  gap: 16px;
} */
/* 
.contact-icons-left {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact-icons-left a {
  font-size: 20px;
  color: #333;
  text-decoration: none;
  transition: color 0.3s;
}

.contact-icons-left a:hover {
  color: #0078ff;
} */
