#wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    padding: 20px;
}
#main {
    max-width: 100%;
    text-align: left;
    flex-grow: 1;
}
#square {
    width: 100%;
    max-width: 425px;
    background-color: #393844;
    border-radius: 26px;
    margin: 45px 0;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    padding: 50px 40px 30px 40px;
    box-sizing: border-box;
    animation: slideInRight 1.5s ease-out forwards;
}
#square img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
#square h1 {
    font-family: 'Lexend', sans-serif;
    font-size: 42px;
    margin: 22px 0;
    font-weight: 100;
    animation: slideInLeft 0.8s ease-out forwards;
    opacity: 0;
}
#square p {
    font-size: 16px;
    margin-bottom: 21px;
    color: #a1a1a7;
    line-height: 20px;
    animation: slideInRight 1s ease-out forwards;
    opacity: 0;
}
.separator {
    position: relative;
    width: 100%;
    margin: 10px 0;
}
.separator::before {
    content: "";
    position: absolute;
    top: 0;
    left: -20px;
    right: -20px;
    border-top: 3px solid rgba(65, 61, 79, 1);
}

.contact-icons-right {
    position: absolute;
    top: 55px;
    right: 40px;
    display: flex;
    gap: 16px;
    z-index: 10;
    animation: slideInLeft 1.5s ease-out forwards;
    animation-delay: 0.5s; /* Thời gian trễ 0.5 giây */
    opacity: 0; /* để animation hoạt động */
}

.contact-icons-right a {
    color: #4faaff;
    font-size: 22px;
    transition: color 0.3s ease, transform 0.3s ease;
    display: inline-block;
}

.contact-icons-right a:hover {
    color: #a6f1ff;
    transform: scale(1.2);
}

