

#service-description {
  position: absolute;
  top: 0;
  left: 0;
  width: 420px;
  background-color: #393844;
  border-radius: 20px;
  opacity: 0;
  pointer-events: none;
  transform: translateX(0);
  z-index: 1; /* giữ thấp, không cần cao hơn */
  padding: 50px 40px 30px 40px;
  transition:
    transform 0.4s ease,
    opacity 0.4s ease,
    box-shadow 0.5s ease,
    border 0.5s ease;
  pointer-events: none;
  will-change: transform, opacity;
}

#service-description.desc-overlap {
  transform: translateX(0);
  z-index: 3; /* cao hơn square */
  opacity: 1;
  transition-delay: 0.1s;
  padding-left: 0;
}

#service-description.exit-fade {
  opacity: 0;
  transition: opacity 0.4s ease;
}
/* #service-description.overlay-left,
#service-description.overlay-right {
  opacity: 1;
  transform: none;
  z-index: 2;
  transition-delay: 0.1s;
} */

#service-description.visible-right {
  opacity: 1;
  transform: translateX(420px);
  z-index: 0;
  padding-left: 60px;
  transition-delay: 0.1s; /* 👈 thêm delay 0.6s */
}

#service-description.visible-left {
  opacity: 1;
  transform: translateX(-420px); /* bay ra trái */
  z-index: 0;
  transition-delay: 0.1s; /* 👈 thêm delay 0.6s */
}
#service-description.exit-left,
#service-description.exit-right {
  transform: translateX(0); /* 👈 Trượt về giữa */
  opacity: 0;
}
.service-content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.service-img {
  width: 60px;
  height: 60px;
  border-radius: 12px;
  object-fit: cover;
}

.service-title {
  font-size: 20px;
  font-weight: 700;
  margin: 0;
}

.service-subtitle {
  font-size: 16px;
  font-weight: 600;
  margin: 8px 0 4px;
}

.service-desc {
  font-size: 14px;
  line-height: 1.5;
  margin: 0;
}

.service-features {
  list-style-type: disc;
  padding-left: 20px;
  margin: 0;
  font-size: 13px;
}

.service-features li {
  margin-bottom: 4px;
}

/* CSS */
#service-description.focus-desc {
  border: 2px solid #00b4d8;
  box-shadow: 0 0 12px rgba(0, 180, 216, 0.5);
  /* transition: box-shadow 0.3s ease, border 0.3s ease; */
  z-index: 2; /* chỉ tăng z-index thôi, đừng đổi transform hoặc transition */
}