b.b{
    font-size: 40px;
    color: red;
}
b.a {
    font-size: 20px;
    font-family: segoe ui;
    color: gray;
    margin-left: 100px;
}
div.b {
    margin-left: 100px;
    color: gray; 
    margin-bottom: 10px;
    font-size: 9px;   
}
h3.a {
    margin-left: 100px;
    color: red;
}
div.a {
    display: flex;
    width: 860px;
}
img.so1 {
    width: 100%;
}





     