.noi {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}
.bo {
    width: 360px;
    margin-left: 50px;
}
div.me {
    display:flex;
    width: 400px;
}
img {
    widows: 200px;
    height: 100px;
}
div.phai {
    width: 190px;
    font-size: 14px;
    font-family: segoe UI;
    margin-left: 10px

}