div.me {
    display: flex;
    width: 500px;

}
img {
    width: 180px;
}
div.phai {
    font-size: 14px;
    font-family: segoe ui;
    width: 310px;
    margin-left:10px;
    color: gray;
}